/*====================================================
MODAL
====================================================*/
.modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    text-align: center;
}

.modal-body {
    position: fixed;
    margin: 10% 30%;
    width: 40%;
    padding: 0.5em;
    height: auto;
    border: 1px solid #DDD;
    background-color: #FFF;
    color: #000;
}

.modal-body > .panel {
    padding: 0px;
}