/*====================================================
PANEL
====================================================*/
.panel {
    width: 100%;
    margin: 0.5em auto;
    padding: 0.625rem;
}

.panel-heading {
    background: #F5F5F5;
    border: 1px solid #DDD;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.3125rem 0rem 0.3125rem 0.625rem;
    font-size: 1.25rem;
}

.panel-body {
    border: 1px solid #DDD;
    padding: 0.625rem 0.625rem 0 0.625rem;
    background-color: #FFF;
}